/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}


.wrapper {
}
.test {
    
}
.test__row {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test__title {
    font-weight: 700;
    font-size: 55px;
        font-family: "Poppins", sans-serif;
}

.you__gey{
    margin: 40px 0;
    font-weight: 600;
    font-size: 40px;
}

.otvet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.otvet-da {
}
.da {

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    &:hover{
        background: linear-gradient(
            90deg,
            rgb(245, 24, 24) 0%,
            rgb(247, 158, 24) 10%,
            rgb(230, 243, 47) 20%,
            rgb(101, 245, 96) 30%,
            rgb(76, 245, 242) 40%,
            rgb(85, 212, 231) 50%,
            rgb(46, 138, 243) 60%,
            rgb(84, 56, 139) 70%,
            rgb(158, 50, 197) 80%,
            rgb(236, 70, 214) 90%,
            rgb(252, 35, 35) 100%
        );

    };


}
button{
    margin: 0 20px;
}
.otvet-net {
    position: relative;
    top: 50px;
    left: -70px;
    width: 100px;
}
.otvet-dva {
    position: absolute;
    // transition: all 0.07s linear 0s;
}
.nett {
    position: absolute;
    transition: all 0.07s linear 0s;

    background-color: black;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    &:hover{
        background-color: rgb(15, 15, 15);
    }
}



